* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgba(188, 253, 254, 0.124);
}
html {
  scroll-behavior: smooth;
}

/** Css Variables */
:root {
  --shady-white-color: #f5f5f5; /* #fafffe*/
  --accent-color: #1cd6ce; /*#00c8aa*/
  --section-font: "Acme", sans-serif;
  --primary-font: "PT Serif", serif;
  --cate-text: #31f7f0;
  --cate-foot-text: rgba(59, 58, 58, 0.974);
}

/** ------------------------------------------------------------------------------ */

/** Navigation bar */
#navbar {
  display: flex;
  align-items: center;
  position:fixed;
  top: 0px;
  z-index: 2;
  height: 54px;
  width: 100%;
  transition: 0.6s;
  
}

#logo {
  /* font-family: 'cursive', 'Caveat'; */
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 50px;
  color: var(--shady-white-color);
  transition: 0.6s;
}
#logo:hover {
  transform: scale(1.1);
}
#navbar ul {
  display: flex;
  z-index: 2;
  margin: auto;
}
#navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.2rem;
  margin-right: 50px;
}
#navbar ul li a {
  position: relative;
  text-decoration: none;
  font-family: "PT Serif", serif;
  color: var(--shady-white-color);
  transition: 0.6s;
}
.active {
  color: #1cd6ce !important;
}

/* .active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: black;
} */

#navbar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgb(187, 187, 187);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
#navbar ul li a:hover::after {
  transform: scale(1);
  transform-origin: left;
}

/** Navbar Login Button */
#ndb {
  margin-right: 50px;
}
#navbar button {
  display: inline-block;
  position: relative;
  background: transparent;
  text-decoration: none;
  font-family: "PT Serif", serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 23px;
  color: white;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  width: 82px;
  height: 32px;
  transition: all 0.35s;
}
#navbar button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accent-color);
  transition: all 0.35s;
  z-index: -1;
}
#navbar button:hover {
  color: #fff;
  border: 0px solid var(--accent-color) !important;
  transform: scale(1.05);
}
#navbar button:hover:after {
  width: 100%;
}

#navbar button a{
  text-decoration: none;
  font-family: 'PT Serif', serif;
font-size:14px;
  font-weight: 500;
cursor:pointer;
  user-select: none;
  color: white;
  }

nav.black{
  padding: 5px 50px;
  background-color:  #202124;
  height: 50px;
}
nav.black #logo{
  color: #fff;}

  nav.black #nav-a{
    color: #fff;
  }

  nav.black #nav-btn,  nav.black #navbar button:focus{
    color: #fff;
    border: 2px solid #fff;
  }

  nav.black #navbar button:hover{
  color:#000000;
  border: 2px solid #000000;
  } 

  nav.sticky #nav-btn-a{
    text-decoration: none;
    font-family: 'PT Serif', serif;
	font-size:14px;
    font-weight: 500;
	cursor:pointer;
    user-select: none;
    color: #fff !important;
    }
    
  

  nav.black #nav-a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
nav.black #nav-a:hover::after{
    transform: scale(1);
    transform-origin: left;
} 

/** ------------------------------------------------------------------------------ */

section.static{
  /* border: 2px solid red; */
  position: relative;
  width: 98.9vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
 section.static::before {
  content: " ";
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1498354178607-a79df2916198?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1888&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(50%);
} 
section.static h1 {
  font-family: "Noto Serif Georgian", serif;
  font-size: 4rem;
  text-align: center;
  color: var(--shady-white-color);
} */
.static p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4em;

  text-align: center;
  color: var(--shady-white-color);
  /* padding: 0px 60px; */
 }
.textArea {
  /* border: 2px solid blue; */
  position: absolute;
  width: 60vw;
}

/** ------------------------------------------------------------------------------ */

.findjobs {
  position: sticky;
  display: flex;
}

#filer-title {
  color: black;
  font-family: var(--section-font);
  padding-top: 2em;
}
#divider-h {
  background: #1cd6ce;
  border-radius: 50px;
  height: 3.5px;
  width: 123px;
  margin-top: -14px;
  margin-bottom: 20px;
}
.cate-jobs {
  display: grid;
  grid-column: auto;
  font-family: "Poppins", sans-serif;
  row-gap: 0.5rem;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.cate-jobs b::before {
  content: "| ";
  color: red;
  font-size: 1.5rem;
  margin-left: -8px;
}

.cate-jobs-p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-top: 0.15rem;
  user-select: none;
}

.filter {
  border: 1px grey solid;
  border-right: 3.5px rgb(18, 197, 188) solid;
  width: 18vw;
  padding-left: 2rem;
  margin: 4rem 1.5rem;
}

.cate-time {
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: start;
  flex-direction: column;
  margin-top: 2em;
  font-size: 1.1rem;
}
.cate-time b::before {
  content: "| ";
  color: red;
  font-size: 1.5rem;
  margin-left: -8px;
}
.cate-time label input {
  margin-top: 1rem;
  font-size: 1.1rem;
}
.cate-time label {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  user-select: none;
}
#cate-post-old {
  margin-bottom: 2em;
}

.cate-budget p {
  font-family: "Poppins", sans-serif;
  margin-top: 1em;
  font-size: 1.1rem;
}

.cate-budget select {
  font-family: "Poppins", sans-serif;
  background-color: rgba(188, 253, 254, 0.124);
  border-radius: 0.4em;
  margin-top: 1em;
  font-size: 1rem;
}

.cate-budget input {
  font-size: 1.1rem;
  size: 10px;
}
.cate-budget b::before {
  content: "| ";
  color: red;
  font-size: 1.5rem;
  margin-left: -8px;
}
.cbutton {
  display: inline-block;
  position: relative;
  background: transparent;
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  width: 132px;
  height: 32px;
  transition: all 0.35s;
  margin-top: 2rem;
}
.cbutton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accent-color);
  transition: all 0.35s;
  z-index: -1;
}
.cbutton:hover {
  color: #fff;
  border: 0px solid var(--accent-color);
  transform: scale(1.05);
}
.cbutton:hover:after {
  width: 100%;
}
hr {
  width: 13rem;
}

/* DISPLAYED JOBS CARDS ON THE RIGHT OF THE PAGE  */
.jobs {
  display: flex;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  border-right: 1px grey solid;
  margin: 4rem -2rem;
  width: 78vw;
}

.inside-jobs {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
    align-items: center; */
  padding: 30px 0px 30px 30px;
  row-gap: 20px;
  column-gap: 20px;
}

.inside-jobs li {
  position: relative;
  list-style-type: none;
  height: 400px;
  width: 260px;
  background-color: rgba(188, 254, 241, 0.124);
  text-align: center;
  margin: 10px 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 3.6px rgba(0, 0, 0, 0.017),
    0px 0px 10px rgba(0, 0, 0, 0.025), 0px 0px 24.1px rgba(0, 0, 0, 0.033),
    0px 0px 80px rgba(0, 0, 0, 0.05);
}

.inside-jobs li:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.images-jobs {
  width: inherit;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.images-jobs img {
  width: 100%;
}
.cate-content .cate-title {
  display: flex;
  padding: 2px;
  color: rgb(0, 0, 0);
  background-color: #1cd6c3c0;
  border: 1px var(--cate-text) solid;
  box-shadow: inset 0 0 0 0 var(--cate-text);
  border-radius: 10px;
  transition: ease-out 0.3s;
  outline: none;
  margin: 5px 10px;
  /* justify-content: center; */
  padding-left: 1rem;
}
.cate-title {
  text-align: center;
}
.cate-content .cate-title:hover {
  color: rgb(0, 0, 0);
  border-color: #c3f8ff;
  box-shadow: inset 300px 0 0 0 var(--cate-text);
}

.cate-foot {
  color: var(--cate-foot-text);
  font-weight: bold;
  margin-top: 0.9rem;
  margin-right: 16px;
  text-align: end;
  margin-bottom: 0.81rem;
  font-size: 0.9rem;
}
.cate-body {
  position: inherit;
  margin: 0px 20px 20px 20px;
  text-align: start;
  overflow: auto;
}
.cate-content {
  min-height: 14rem;
  position: relative;
}

/* ------------------------------------------------------ */

/* CARSOUSEL DISPLAY OF IMAGES INSIDE CARDS */

/* .slides-images {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
} */

/* @keyframes slide {
    0% {
        transform: translateX(0);
    }
    
    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
} */
