/** CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--shady-white-color);
}
html{
    scroll-behavior: smooth;
}


/** Css Variables */
:root{
    --shady-white-color: #fafffe;
    --accent-color: #00c8aa
}

/** ------------------------------------------------------------------------------ */


/** Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    height: 54px;
}
#logo{
    font-family: 'Caveat', cursive;
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 50px;
}
#logo:hover{
    transform: scale(1.1);
}
#navbar ul{
    display: flex;
    z-index: 2;
    margin: auto;
}
#navbar ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.20rem;
    margin-right: 50px;
}
#navbar ul li a{
    position: relative;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color: black;
}
.active{
    color: var(--accent-color) !important;
}

/* .active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: black;
} */

#navbar ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
#navbar ul li a:hover::after{
    transform: scale(1);
    transform-origin: left;
}


/** Navbar Login Button */
#ndb{
    margin-right: 50px;
}
#navbar button{
    display: inline-block;
    position: relative;
    background: transparent;
	text-decoration:none;
    font-family: 'PT Serif', serif;
	font-size:14px;
    font-weight: 500;
    border-radius: 23px;
    color: black;
    border: 2px solid black;
    overflow: hidden;
	cursor:pointer;
    user-select: none;
    width: 82px;
    height: 32px;
    transition: all .35s;
}
#navbar button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--accent-color);
    transition: all .35s;
    z-index: -1;
  }
  #navbar button:hover{
    color: #fff;
    border: 0px solid var(--accent-color);
    transform: scale(1.05);
  }
  #navbar button:hover:after{
    width: 100%;
  }


/** ------------------------------------------------------------------------------ */


#carasol{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #333333d4;
    border-radius: 23px;
    z-index: 5;
    height: 583px;
    margin: 17px 45px;
    /* box-shadow: 0px 0px 10px 2px #c4c8a6 */
    box-shadow:
      0px 0px 2.5px -5px rgba(0, 0, 0, 0.019),
      0px 0px 5.7px -5px rgba(0, 0, 0, 0.032),
      0px 0px 10.2px -5px rgba(0, 0, 0, 0.044),
      0px 0px 17.3px -5px rgba(0, 0, 0, 0.058),
      0px 0px 30.5px -5px rgba(0, 0, 0, 0.075),
      0px 0px 83px -5px rgba(0, 0, 0, 0.11);
}


    
.slider {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 23px;
  }
  
  .slide {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0;
    overflow: hidden;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

  /* .slider {
    display: flex;
    width: 400vw;
    
  }
  .slide{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } */