/** ------------------------------------------------------------------------------ */

section.FFstatic {
    position: relative;
    width: 98.9vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

section.FFstatic::before {
    content: " ";
    position: absolute;
    background-image: url(../Img/FFHero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
}

section.FFstatic h1 {
    font-family: "Noto Serif Georgian", serif;
    font-size: 4rem;
    text-align: center;
    color: var(--shady-white-color);
}

.FFstatic p {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.4em;

    text-align: center;
    color: var(--shady-white-color);
}

.FFtextArea {
    position: absolute;
    width: 60vw;
}

/** ------------------------------------------------------------------------------ */

/** ------------------------------------------------------------------------------ */

.cards-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}