:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
  --shady-white-color: #f5f5f5;
  /* #fafffe*/
  --accent-color: #1cd6ce;
  /*#00c8aa*/
  --section-font: "Acme", sans-serif;
  --primary-font: "PT Serif", serif;
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
  --padding: 1.5rem;
}

#container-carousel {
  padding: 4rem 4rem;
}

#container-carousel .catecards-slider {
  margin-top: -124px;
  height: 10rem;
  padding: 2rem 0;
  position: relative;
}

.catecards-slide {
  width: 20rem;
  height: 42rem;
  padding: 0rem;
  position: relative;
  background-color: transparent;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.catecards-slider-control {
  position: relative;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  cursor: pointer;
  position: relative;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.catecards-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

/* @media (max-width:990px) {
    .catecards-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width:450px) {
    .catecards-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width:990px) {
    .catecards-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width:450px) {
    .catecards-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
} */
.swiper-button-prev .slider-arrow .swiper-button-next .slider-arrow {
  cursor: pointer;
}

.catecards-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.catecards-slider-control .slider-arrow .ion-icon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  color: #180117;
}

.catecards-slider-control .slider-arrow::after {
  content: "";
}

.catecards-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.catecards-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.catecards-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/** Categories */
.card-1 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/graphic_design.png?updatedAt=1682608753579);
}

.card-2 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/article_writing.png?updatedAt=1682608757184);
}

.card-3 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/video_editing.png?updatedAt=1682610666961);
}

.card-4 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/accountant.jpg?updatedAt=1682608757258);
}

.card-5 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/android_developer.png?updatedAt=1682608757160);
}

.card-6 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/data_entry.png?updatedAt=1682608753900);
}

.card-7 {
  background-image: url(https://ik.imagekit.io/bhanu1776/Freelansters/logistics.jpg?updatedAt=1682610667062);
}

.card {
  display: inline-block;
  background-size: cover;
  color: var(--clr-neutral-100);
  overflow: hidden;
  font-weight: bold;
  width: 20rem;
  height: 25rem;
  border-radius: 2rem;
  object-fit: cover;
}

.card:hover {
  transition: transform 500ms ease;
  transform: scale(1.05);
}

.card-content {
  background-color: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
  padding: var(--padding);
  margin-top: 150px;
}

.card-content:hover {
  transform: translateY(65%);
  transition: transform 500ms ease;
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    transition: opacity 500ms linear;
    opacity: 0;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    transition-delay: 1000ms;
    opacity: 1;
  }
}

.card-title {
  position: relative;
  width: max-content;
  color: #000000;
}

.card-title::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  background: var(--clr-accent-400);
  transition: transform 500ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  width: calc(100% + var(--padding));
  height: 4px;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255, 255, 255 / 0.85);
  text-align: left;
  padding: 10px;
  color: #000000;
}

.button {
  display: inline-block;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25em;
  padding: 0.5em 1.25em;
  margin-left: -105px;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
  transition: all 0.1s ease-in-out;
}
